doctype html
html
  head
    base(href='http://localhost:3000/')
    title Daniel Toolbox
    link(rel='stylesheet', href='css/general.css')
    script(src='js/main.js')
  body
    .head-title
      p DNL
    .head-subl
      p Toolbox
    br
    table
      tr
        td lincon
        td adams
      tr
        td lipster
        td locklest II
    br
    a(href='partials/postDetail.html') Details
    br
    a(href='partials/postDelete.html') Delete
    br
    div
      p descricao base do que faremos aqui
      a(href='#anchor') This is a anchor(#anchor)
    .footer teste